*{

}
.soft-crust{
	background: #3498DB;
}

.blue-sky-shy-text{
	color: #94D0E7;
}

.custom-bodycontent{
	font-size: 17px
}

.custom-header{
	font-size: 36px;
}

.custom-sub-header{
	font-size: 20px;
}

.custom-subsub-header{
	font-size: 25px;
}

.liz-orange-text{
	color: #FF6530;
}

.liz-orange{
	background: #ff6530 !important;
}

.brand-logo img{
	width: 100px;
}
.icon img{
	float: left;
	width: 25px;	
}
.custom-badge{
	color: #fff;
	padding: 5px;
	border-radius: 30px 30px 30px 30px;
	margin-left: 10px;
}

#map{
	height: 400px;
	width: 100%;
}

.home-description{
	text-align: justify;
}

.collapsible-custom-body{
	padding: 30px;
	background: url("../images/cathedral.jpg");
}

.collapsible-custom-body div{
	background: rgba(255,255,255,0.6);
	color: black;
	padding: 5px;
	text-align: justify;
}

.collapsible-body .directors{
	padding: 30px;
}

.director img{
	width: 100%;
}

.facility img{
	width:400px;
}

.gallery-image{
	width: 100%;
	margin: 10px;
}

.submit-testimony-hidden{
	position: fixed;
	right:-50%;
	bottom:0px;
	width: 100%;
	transition: all 0.5s;
}

.submit-testimony-visible{
	right:0px;
	transition: all 0.5s;
}

.submit-testimony-button{
	margin:50px;
}

.carousel-item{
	transform: translateX(0px) translateY(0px) translateX(0px) translateX(0px) translateZ(0px) !important;
	top:192px !important;
}

.slick-prev{
	background: #000 !important;
	padding: 10px !important;
	font-size:24px;
	width: 40px;
	height: 40px;
	z-index: 1;
}

.slick-next{
	background: #000 !important;
	padding: 10px !important;
	font-size:24px;
	width: 40px;
	height: 40px;
}

